body {
    margin: 0;
    padding: 0
}

:root {
    --primary-color: #f4f8f8;
    --secondary-color: #d3ebeb;
    --extra-color: #809594;
    --extra-color-2: #1b2121
}

model-viewer {
    height: 600px;
    width: 600px;
    margin-left: 10rem
}

model-viewer:focus-visible {
    outline: 0
}

#pageFirst {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center
}

#pageSecond {
    color: #818181;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    display: flex;
    justify-content: center
}

#intro {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    color: #feffff;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #000;
    margin: 5px;
    font-weight: 1000
}

div #words h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    color: #f4f6ff;
    margin: 0
}

div #pageText {
    padding-left: 6rem;
    width: 70%
}

div #words {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 110px;
    margin: none
}

.arrowContainer {
    display: flex;
    justify-content: center;
    padding-right: 130px;
    padding-top: 20px
}

.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: #f4f6ff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out
}

.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px
}

#node {
    height: 10%
}

* {
    box-sizing: border-box
}

body {
    background-color: #28223f;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0
}

h3 {
    margin: 10px 0
}

h6 {
    margin: 5px 0;
    text-transform: uppercase
}

p {
    font-size: 14px;
    line-height: 21px
}

.skills {
    background-color: #1f1a36;
    text-align: left;
    padding: 15px;
    margin-top: 30px
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.skills ul li {
    border: 1px solid #2d2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px
}

.small-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
    background-color: transparent;
    border-radius: .35em;
    border: solid 3px #efefef;
    color: #787878 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 1.15em;
    height: calc(1.75em + 6px);
    line-height: 1.75em;
    min-width: 2em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-align: center
}

.button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    border-color: #49bf9d;
    color: #49bf9d !important
}

.button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
    background-color: rgba(73, 191, 157, .1);
    border-color: #49bf9d;
    color: #49bf9d !important
}

.button.icon,
input[type=button].icon,
input[type=reset].icon,
input[type=submit].icon {
    padding-left: 1.35em
}

.button.icon:before,
input[type=button].icon:before,
input[type=reset].icon:before,
input[type=submit].icon:before {
    margin-right: .5em
}

.button.fit,
input[type=button].fit,
input[type=reset].fit,
input[type=submit].fit {
    min-width: 0;
    width: 100%
}

.button.small,
input[type=button].small,
input[type=reset].small,
input[type=submit].small {
    font-size: .8em
}

.button:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
    background-color: #e7e7e7 !important;
    border-color: #e7e7e7 !important;
    color: #b2b2b2 !important;
    cursor: default
}